{% extends 'base.html.twig' %}

{% block title %}Department index{% endblock %}

{% block body %}
    <h1>Department index</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Comments</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for department in departments %}
            <tr>
                <td>{{ department.id }}</td>
                <td>{{ department.name }}</td>
                <td>{{ department.comments }}</td>
                <td>
                    <a href="{{ path('department_show', {'id': department.id}) }}" class="btn btn-info">show</a>
                    <a href="{{ path('department_edit', {'id': department.id}) }}" class="btn btn-info">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('department_new') }}" class="btn btn-info">Create new</a>
    <a href="{{ path('employee_index') }}" class="btn btn-info">Employee list</a>
{% endblock %}